# Base url of the frontend
NEXT_PUBLIC_BASE_URL=NEXT_PUBLIC_BASE_URL

# Secret key used to authenticate internal server-to-server requests (e.g. server actions -> protected route handlers). Must never be exposed on the client.
INTERNAL_API_KEY=INTERNAL_API_KEY 

# Base url where strapi is hosted
BUILD_STRAPI_BASE_URL=BUILD_STRAPI_BASE_URL

# API Token used to upload files (resumes) to the Upload API and create records in form collections (postulations).
STRAPI_FORMS_TOKEN=STRAPI_FORMS_TOKEN

# Image bucket URL from GCP (used by Strapi), configured in Next.js to enable image loading.
BUILD_STRAPI_BUCKET_HOSTNAME=BUILD_STRAPI_BUCKET_HOSTNAME
BUILD_STRAPI_BUCKET_PATHNAME=BUILD_STRAPI_BUCKET_PATHNAME

# https://authjs.dev/getting-started/deployment#auth_trust_host
AUTH_TRUST_HOST=AUTH_TRUST_HOST
AUTH_SECRET=AUTH_SECRET

# reCaptcha credentials
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=NEXT_PUBLIC_RECAPTCHA_SITE_KEY # Used to generate the token
RECAPTCHA_SECRET_KEY=RECAPTCHA_SECRET_KEY # Used to validate the generated token

# Variables for the contact form, obtained from the app registered in Google Auth Platform
GOOGLE_CLIENT_ID=xxxxxxxx.apps.googleusercontent.com # Unique ID of your application in Google Cloud. Identifies your app to Google.
GOOGLE_CLIENT_SECRET=xxxxx-xxxxx # Secret key linked to the CLIENT_ID. Verifies that the request comes from your app.
OAUTH_REDIRECT_URI=http://localhost:3000/api/oauth/google/callback # URL where Google redirects the user after they approve or deny permissions. Must exactly match the one registered in Google Auth Platform.
OAUTH_ACCESS_TOKEN=OAUTH_ACCESS_TOKEN # Short-lived token that authorizes your app to access Google APIs on behalf of the user. Captured after first-time authorization (never commit)
OAUTH_REFRESH_TOKEN=OAUTH_REFRESH_TOKEN # Long-lived token used to generate new access_tokens without user interaction. Does not expire unless access is revoked or credentials are regenerated. Captured after first-time authorization (never commit)
OAUTH_TOKEN_EXPIRY_DATE=OAUTH_TOKEN_EXPIRY_DATE # Expiry date of the access token in timestamp format 
GMAIL_SENDER=GMAIL_SENDER # Authorized email address used to send messages from the form. Must match the authorized user address in GAP.
GMAIL_RECEIVER=GMAIL_RECEIVER # Email address that will receive the messages sent through the form.
# Note: Both sender and receiver can be the same email address.
INIT_TOKEN=short-lived-admin-token # Temporary token to authorize the initialization request of the oauth gmail authorization flow. 
CSRF_STATE_SECRET=some-long-random-secret # This is used to sign the state cookie to prevent CSRF attacks. It can be any long random string.

