# Base url of the frontend
NEXT_PUBLIC_BASE_URL=NEXT_PUBLIC_BASE_URL

# Base url where strapi is hosted
BUILD_STRAPI_BASE_URL=BUILD_STRAPI_BASE_URL

# Image bucket URL from GCP (used by Strapi), configured in Next.js to enable image loading.
BUILD_STRAPI_BUCKET_HOSTNAME=BUILD_STRAPI_BUCKET_HOSTNAME
BUILD_STRAPI_BUCKET_PATHNAME=BUILD_STRAPI_BUCKET_PATHNAME

# https://authjs.dev/getting-started/deployment#auth_trust_host
AUTH_TRUST_HOST=AUTH_TRUST_HOST
AUTH_SECRET=AUTH_SECRET
