## STRAPI SERVER ##
# Specifies the type of configuration being used.
NODE_ENV=production 
# Strapi IP direction
HOST=0.0.0.0
# Port where Strapi is running
PORT=1337
# Secret keys used to sign the session cookies
APP_KEYS="toBeModified1,toBeModified2"
# Salt for api token
API_TOKEN_SALT=tobemodified
# Secret used to sign the JWT for the Admin panel
ADMIN_JWT_SECRET=tobemodified
# Salt for transfer token
TRANSFER_TOKEN_SALT=tobemodified
# Secret to sign the JWT for the Users-Permissions plugin
JWT_SECRET=tobemodified

## DATABASE ##
# Selected database. It can be postgres/mysql/mysql2/sqlite
DATABASE_CLIENT=postgres
# Database IP. It is not necessary to define it in app.yaml, strapi uses INSTANCE_CONNECTION_NAME
DATABASE_HOST=0.0.0.0
# Database port. It is not necessary to define it in app.yaml, strapi uses INSTANCE_CONNECTION_NAME
DATABASE_PORT=5432
# Database name
DATABASE_NAME=NAME
# Username with enough permissions to edit the database
DATABASE_USERNAME=USERNAME
# User password
DATABASE_PASSWORD=PASSWORD
# connection name of the google sql instance
INSTANCE_CONNECTION_NAME=projectid:region:db-instance-name
# Google Storage bucket name
GCS_BUCKET_NAME=GCS_BUCKET_NAME
# bucket path where public CMS objects will be stored
GCS_BASE_PATH=public/cms
# public base URL for bucket objects
GCS_BASE_URL=https://storage.googleapis.com/<bucket-name>
# public files stay readable, but only for public CMS assets
GCS_PUBLIC_FILES=true
# Uniform bucket-level access should be enabled
GCS_UNIFORM=true
